.home_link {
    position: absolute;
    top: 2%;
    left: 2%;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px !important;
    border: 1px solid black;
    padding: 7px;
    box-shadow: 7px 7px 4px 0px rgba(0,0,0,0.75) ;
    background-color: #404040;
}

.home_link:hover {
    background-color: #707070;
}