html, body {
    font-size: 1em;
    color: #ffffff !important;
    font-family: 'Verdana' !important;
}
body {
    margin: 0;
}

.container {
    background-color: #293241;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.headline {
    align-self: center;
    justify-content: center;
    text-align: center;
    font-size: 4em;
}

a {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    width: 150px;
    margin: 5px;
    padding: 1em 1.5em;
    background-color: #DEE5E5;
    color: #ffffff;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

a:hover {
    cursor: pointer;
    background-color: #819C9C;
}

a:nth-child(1n) { 
    background-color: #98C1D9;
    color: #000000 !important;
}

a:nth-child(1n):hover { 
    background-color: #4289B3;
    color: #ffffff !important;
}

a:nth-child(2n) { 
    background-color: #99C24D;
    color: #000000 !important;
}

a:nth-child(2n):hover { 
    background-color: #5E7A2A;
    color: #ffffff !important;
}

a:nth-child(3n) { 
    background-color: #EE6C4D;
}

a:nth-child(3n):hover { 
    background-color: #CD3813;
}


a:nth-child(4n) { 
    background-color: #3D5A80;
}

a:nth-child(4n):hover { 
    background-color: #2E4460;
    
}

a.fart-game {
    background-color: #632103;    
    color: white;
}

a.fart-game:hover { 
    background-color: #502E16;
    
}

