html, body {
    font-size: 1em;
    color: #000000 !important;
    font-family: 'Verdana' !important;
}
body {
    margin: 0;
}

.container {
    background-color: #ffffff;
    height: 95vh;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headline {
    align-self: center;
    justify-content: center;
    text-align: center;
    font-size: 4em;
    z-index: -1;
}

.score {
    font-size: 0.7em;
     z-index:  -1;
}

#butt {
    z-index: 99;
    position:fixed;
}

.settings {
    position: absolute;
    bottom: 0;
    right:0;
    border: 1px solid grey;
    padding:10px;
    margin: 10px;
}


.flame {
    display: none;
	background:linear-gradient(-45deg, red, orange);
	border-radius: 100% 100% 0% 100%;
	transform:rotate(135deg);
	animation:.1s flame infinite;
	filter:blur(3px);
    position: absolute;
    top: 33%;
    left: -5%;
	border:20px solid black;
	border-left-width:8px;
	border-top-width:8px;
	box-shadow: 6px 7px 30px #8B4513	;
}
.flame:after,
.flame:before{
    content:'';
    display:block;
    position:absolute;
    background:linear-gradient(-45deg, red, orange);
    animation:.2s flame infinite;
    transform:scale(.8) rotate(20deg);
    border-radius: 100px 100px 0px 100px;
    top:7px;
}
.flame:before{
    top:0;
    animation-duration:.09s;
    transform:scale(.9) rotate(-15deg) translate(10px, 0px);
}

@keyframes flame{
  0% {height:50px; width:50px;}
  50% {height:43px; width:43px;}
  100% {height:50px; width:50px;}
}

.fart-pattern  {
  /*  background-color: brown; */
    height: 15px;
    width: 15px;
    position: absolute;
}